@model Recruitment.Data.Entities.Job

@{
    ViewData["Title"] = Model.Position;
}

<div class="job-overview">
    <div class="job-overview-cards">
        @foreach(var item in ViewBag.RelativeJob)
        {
        <div class="job-overview-card">
            <div class="job-card overview-card">
                <div class="overview-wrapper">
                    <img src="~/client/assets/img/@item.JobImage"/>
                    <div class="overview-detail">
                        <div class="job-card-title">@item.Position</div>
                        <div class="job-card-subtitle">
                            @item.Address
                        </div>
                    </div>
                    <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                        <path d="M20.8 4.6a5.5 5.5 0 00-7.7 0l-1.1 1-1-1a5.5 5.5 0 00-7.8 7.8l1 1 7.8 7.8 7.8-7.7 1-1.1a5.5 5.5 0 000-7.8z" />
                    </svg>
                </div>
                <div class="job-overview-buttons">
                    <div class="search-buttons time-button">@item.DealineForSubmission.ToString("dd/MM/yyyy")</div>
                    <div class="search-buttons level-button">@Model.SalaryMin.ToString("G29") - @Model.SalaryMax.ToString("G29") (@Model.SalaryUnit)</div>
                </div>
            </div>
        </div>
        }
        
    </div>
    <div class="job-explain">
        <img class="job-bg" alt="" src="~/client/assets/img/@Model.JobImage">
        <div class="job-logos">
            <a asp-area="" asp-controller="Candidates" asp-action="Create" asp-route-jobId="@Model.Id" class="search-buttons card-buttons" style="text-align:center; text-decoration:none;">Apply Now</a>
        </div>
        <div class="job-explain-content">
            <div class="job-title-wrapper">
                <div class="job-card-title">@Model.Position</div>
                <div class="job-action">
                    <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                        <path d="M20.8 4.6a5.5 5.5 0 00-7.7 0l-1.1 1-1-1a5.5 5.5 0 00-7.8 7.8l1 1 7.8 7.8 7.8-7.7 1-1.1a5.5 5.5 0 000-7.8z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3" /><circle cx="6" cy="12" r="3" /><circle cx="18" cy="19" r="3" /><path d="M8.6 13.5l6.8 4M15.4 6.5l-6.8 4" /></svg>
                </div>
            </div>
            <div class="job-subtitle-wrapper">
                <div class="company-name">Nơi làm việc: <span class="comp-location">@Model.Address</span></div>
                <div class="posted">Hạn nộp:<span class="app-number">@Model.DealineForSubmission.ToString("dd/MM/yyyy")</span></div>
            </div>
            <div class="explain-bar">
                <div class="explain-contents">
                    <div class="explain-title">Kinh Nghiệm</div>
                    <div class="explain-subtitle">@Model.Experience</div>
                </div>
                <div class="explain-contents">
                    <div class="explain-title">Application Email</div>
                    <div class="explain-subtitle">@Model.ApplicationEmail</div>
                </div>
                <div class="explain-contents">
                    <div class="explain-title">Lương</div>
                    <div class="explain-subtitle">@Model.SalaryMin.ToString("G29") - @Model.SalaryMax.ToString("G29") (@Model.SalaryUnit)</div>
                </div>
            </div>
            <div class="overview-text">
                <div class="overview-text-header">Mô tả</div>
                <div class="overview-text-subheader">
                    @Html.Raw(Model.JobDetail)
                </div>
            </div>
        </div>
    </div>
</div>