@using Microsoft.AspNetCore.Identity
@using Recruitment.Data.Entities
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Tech Jobs</title>
    <link rel="stylesheet" href="~/client/assets/stylesheet.scss">
    <link rel="stylesheet" href="~/client/assets/style.css">
    <style>
        .job-overview {
            display: flex;
        }

            .job-overview .overview-wrapper {
                display: block;
            }

                .job-overview .overview-wrapper .heart {
                    float: right;
                }
                .login-page{padding:0 30px;width:100%}
.login-logo{font-family:Roboto,sans-serif;font-size:16px}
input.inp{padding:11px 17px;border:1px solid #e1e1e1;margin-bottom:10px;border-radius:3px;width:250px}
.login-page-container{text-align:center;margin:0 auto;width:288px;background:#fff;padding:20px;box-sizing:border-box;margin-top:10px;border-radius:5px}
.btnlogin{border:none;color:var(--button-color);background-color:var(--active-color);padding:8px 10px;border-radius:6px;font-size:13px;font-weight:600;margin-top:14px;cursor:pointer;margin-bottom:10px}
.login-page-wrap { width: 100%; }
.wrapper {
    /* width: 100%; */
    display: inherit;
    display: inherit;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    flex-direction: inherit;
    -webkit-box-flex: inherit;
    flex-grow: inherit;
    scroll-behavior: inherit;
    padding: 30px 40px;
    overflow: auto;
    display: block;
}
.main-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-top: 30px;
    width: 20%;
    float: left;
}
.main-container2 {
    width: 80%;
    float: left;
    padding-left: 0;
}
    </style>
</head>
<body>
    
        <div class="job">
            <div class="header">
                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path xmlns="http://www.w3.org/2000/svg" d="M512 503.5H381.7a48 48 0 01-45.3-32.1L265 268.1l-9-25.5 2.7-124.6L338.2 8.5l23.5 67.1L512 503.5z" fill="#0473ff" data-original="#28b446" />
                        <path xmlns="http://www.w3.org/2000/svg" fill="#0473ff" data-original="#219b38" d="M361.7 75.6L265 268.1l-9-25.5 2.7-124.6L338.2 8.5z" />
                        <path xmlns="http://www.w3.org/2000/svg" d="M338.2 8.5l-82.2 234-80.4 228.9a48 48 0 01-45.3 32.1H0l173.8-495h164.4z" fill="#0473ff" data-original="#518ef8" />
                    </svg>
                    Milao
                </div>
                <div class="header-menu">
                    <a asp-controller="Home" asp-action="Index" class="active">Find Job</a>
                    <a asp-controller="Account" asp-action="Login">Sign In</a>
                    <a asp-controller="Account" asp-action="Register">Register</a>
                    <a asp-area="Admin" asp-controller="Account" asp-action="Login">Admin</a>
                </div>
                <div class="user-settings">
                    <div class="dark-light">
                        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
                        </svg>
                    </div>
                    <div class="user-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square">
                            <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
                        </svg>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <img class="user-profile" src="~/@user.UrlAvatar" alt="">
                        <div class="user-name">@user.FirstName @user.LastName</div>
                        <span style="padding: 0 15px">|</span>
                        <a asp-controller="Account" asp-action="Logout">Đăng xuất</a>
                    }
                </div>
            </div>
            <div class="wrapper">
                <form asp-controller="Home" asp-action="Index" method="get" id="filter">
                    <div class="search-menu">

                        <div class="search-bar">
                            <input type="text" name="SearchString" class="search-box" autofocus style="padding-left: 30px" />
                        </div>
                        <div class="search-location">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
                                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z" />
                                <circle cx="12" cy="10" r="3" />
                            </svg>
                            Tất cả thành phố
                        </div>
                        <div class="search-job">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase">
                                <rect x="2" y="7" width="20" height="14" rx="2" ry="2" />
                                <path d="M16 21V5a2 2 0 00-2-2h-4a2 2 0 00-2 2v16" />
                            </svg>
                            <input type="text" placeholder="Tất cả vị trí">
                        </div>
                        <div class="search-salary">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="currentColor" stroke-width=".4">
                                <path d="M12.6 18H9.8a.8.8 0 010-1.5h2.8a.9.9 0 000-1.8h-1.2a2.4 2.4 0 010-4.7h2.8a.8.8 0 010 1.5h-2.8a.9.9 0 000 1.8h1.2a2.4 2.4 0 010 4.7z" stroke="currentColor" />
                                <path d="M12 20a.8.8 0 01-.8-.8v-2a.8.8 0 011.6 0v2c0 .5-.4.8-.8.8zM12 11.5a.8.8 0 01-.8-.8v-2a.8.8 0 011.6 0v2c0 .5-.4.8-.8.8z" stroke="currentColor" />
                                <path d="M21.3 23H2.6A2.8 2.8 0 010 20.2V3.9C0 2.1 1.2 1 2.8 1h18.4C22.9 1 24 2.2 24 3.8v16.4c0 1.6-1.2 2.8-2.8 2.8zM2.6 2.5c-.6 0-1.2.6-1.2 1.3v16.4c0 .7.6 1.3 1.3 1.3h18.4c.7 0 1.3-.6 1.3-1.3V3.9c0-.7-.6-1.3-1.3-1.3z" stroke="currentColor" />
                                <path d="M23.3 6H.6a.8.8 0 010-1.5h22.6a.8.8 0 010 1.5z" stroke="currentColor" />
                            </svg>
                            <input type="text" placeholder="Tất cả lương">
                        </div>
                        <button type="submit" class="search-button">Find Job</button>

                    </div>

                    <div class="main-container">

                        <div class="search-type">
                            <div class="alert">
                                <div class="alert-title">Create Job Alert</div>
                                <div class="alert-subtitle">Create a job alert now and never miss a job</div>
                                <input type="text" placeholder="Enter job keyword">
                                <button class="search-buttons">Create Job Alerts</button>
                            </div>

                            <div class="job-time">
                                <div class="job-time-title">Nơi làm việc</div>
                                <div class="job-wrapper">
                                    <div class="type-container">
                                        <input type="checkbox" id="job1" class="job-style" value="hồ chí minh" name="place">
                                        <label for="job1">TP. Hồ Chí Minh</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job2" class="job-style" value="hà nội" name="place">
                                        <label for="job2">Hà Nội</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job3" class="job-style" value="đà nẵng" name="place">
                                        <label for="job3">Đà Nẵng</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job4" class="job-style" value="nha trang" name="place">
                                        <label for="job4">Nha Trang</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job5" class="job-style" value="huế" name="place">
                                        <label for="job5">Huế</label>
                                    </div>
                                </div>
                            </div>
                            <div class="job-time">
                                <div class="job-time-title">Kinh nghiệm</div>
                                <div class="job-wrapper">
                                    <div class="type-container">
                                        <input type="checkbox" id="job7" class="job-style" value="không" name="exp">
                                        <label for="job7">Không yêu cầu kinh nghiệm</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job8" class="job-style" value="1" name="exp">
                                        <label for="job8">1 năm kinh nghiệm</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job9" class="job-style" value="2" name="exp">
                                        <label for="job9">2 năm kinh nghiệm</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job10" class="job-style" value="3" name="exp">
                                        <label for="job10">3 năm kinh nghiệm</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job11" class="job-style" value="4" name="exp">
                                        <label for="job11">4 năm kinh nghiệm</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job12" class="job-style" value="5" name="exp">
                                        <label for="job12">5 năm kinh nghiệm</label>
                                    </div>
                                </div>
                            </div>
                            <div class="job-time">
                                <div class="job-time-title">Ngôn ngữ</div>
                                <div class="job-wrapper">
                                    <div class="type-container">
                                        <input type="checkbox" id="job111" class="job-style" value="java" name="language">
                                        <label for="job111">Java</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job21" class="job-style" value="python" name="language">
                                        <label for="job21">Python</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job31" class="job-style" value="qa" name="language">
                                        <label for="job31">QA, QC, Tester</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job41" class="job-style" value="php" name="language">
                                        <label for="job41">PHP</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job51" class="job-style" value="asp" name="language">
                                        <label for="job51">ASP.NET / ASP.NET Core</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job61" class="job-style" value="ux" name="language">
                                        <label for="job61">UX UI Designer</label>
                                    </div>
                                    <div class="type-container">
                                        <input type="checkbox" id="job611" class="job-style" value="react" name="language">
                                        <label for="job611">ReactJs</label>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </form>
                <div class="main-container2">
                    @RenderBody()
                </div>
                </div>
            </div>
        @*<div class="submit" style="opacity: 1">Ok</div>*@
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @*<script src="~/client/assets/common.js"></script>*@
    <script>
        const myForm = $("#filter");
        $(".job-style").click(function () {
            myForm.submit();
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>